body {
  font-family: pt-sans, Helvetica, sans-serif;
  font-size: 24px;
  color: #eee;
  background-color: #824528;
  margin: 0;
  height: 100%;
}


.point {
  fill: #999;
  stroke: #fff;
}

.point.scanned {
  fill: orange;
  fill-opacity: 1;
  stroke: brown;
}

.point.selected {
  fill: red;
  fill-opacity: 1;
}

#board .node {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

#treeboard .node circle {
  cursor: pointer;
  fill-opacity: 0.8;
  fill: #aa2;
  stroke: none;  
}

#treeboard .new.node circle {
  fill: #2a4;
}

#treeboard .node text {
  fill: #fff;
  stroke: none;
}

#treeboard .link {
  fill: none;
  stroke: #aaa;
  opacity: 0.7;
}

.node tspan {
  font-size: 16px;
}

#board text {
  fill: #fff;
}